<html>
  <head>
    <title>Epifoodus Admin</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body class="container">

<div class="well well-sm" style="text-align:center">
<h3> You just added a new restaurant!!</h3>
  <h1>{{ restaurant.getName }}</h1>
    <p>{# restaurant.getCuisineImg #}</p>
      <p>
        <img src="{{ restaurant.getImg }}" alt="{{ restaurant.getImg }}" height="250px" width="250px"/>
      </p>
  <h2>Cuisine: <a href="/cuisine/{{ cuisine.getId }}">{{ cuisine.getType }}</a></h2>
    <p><strong>Address: </strong>{{ restaurant.getAddress}}</p>
    <p><strong>Phone: </strong>{{ restaurant.getPhone }}</p>

    {% if restaurant.getPrice == 1 %}
    <p><strong>Price Range: </strong>$</p>

    {% elseif restaurant.getPrice == 2 %}
    <p><strong>Price Range: </strong>$$</p>

    {% elseif restaurant.getPrice == 3 %}
    <p><strong>Price Range: </strong>$$$</p>

    {% endif %}

    {% if restaurant.getVegie == 0 %}
    <p><strong>Vegetarian Options: </strong>No</p>
    {% else %}
    <p><strong>Vegetarian Options: </strong>Yes</p>
    {% endif %}

    <p><strong>Open Time: </strong>{{ restaurant.getOpenTime }}</p>
    <p><strong>Close Time: </strong>{{ restaurant.getCloseTime }}</p>









<!-- Footer navbar -->
        <footer id="footer" class="navbar navbar-fixed-bottom">
          <div class="well well-sm" style="text-align:center">


            <p>You are logged in as {{ user.getUsername }}</p>
            <!-- View all -->
            <form class="btn-group inline" action="/restaurants" method="get">
                <button class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-eye-open"></span> View All
                </button>
            </form>
            <!-- Add more -->
            <form class="btn-group inline" action="/restaurants_form" method="get">
                <button class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-plus"></span> Add More
                 </button>
            </form>
            <!-- View Profile -->
            <form class="btn-group inline" action="/user" method="get">
                <button class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-user"></span> View Profile
                </button>
            </form>
            <!-- Sign out -->
            <form class="btn-group" action="/logout" method="post">
              <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign Out
              </button>
            </form>

          </div>
        </footer>


  </body>
</html>
