<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: I'm Hungry</title>
  </head>
<body class="container">


     <!-- displays restaurant and info -->
  <div class="well well-sm" style="text-align:center">
    <h1>{{ restaurant.getName }}</h1>
      <p>{# restaurant.getCuisineImg #}</p>
        <p>
          <img src="{{ restaurant.getImg }}" alt="{{ restaurant.getImg }}" height="250px" width="250px"/>
        </p>
    <h2>Cuisine:<a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getType }}</a></h2>
      <p><strong>Address: </strong>{{ restaurant.getAddress}}</p>
      <p><strong>Phone: </strong>{{ restaurant.getPhone }}</p>

      {% if restaurant.getPrice == 1 %}
      <p><strong>Price Range: </strong>$</p>

      {% elseif restaurant.getPrice == 2 %}
      <p><strong>Price Range: </strong>$$</p>

      {% elseif restaurant.getPrice == 3 %}
      <p><strong>Price Range: </strong>$$$</p>

      {% endif %}

      {% if restaurant.getVegie == 0 %}
      <p><strong>Vegetarian Options: </strong>No</p>
      {% else %}
      <p><strong>Vegetarian Options: </strong>Yes</p>
      {% endif %}

      <p><strong>Open Time: </strong>{{ restaurant.getOpenTime }}</p>
      <p><strong>Close Time: </strong>{{ restaurant.getCloseTime }}</p>
      <!-- buttons for negative or positive feedback -->
      <form class="btn-group" action="/..." method="post">
        <button class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
      </form>
      <form class="btn-group inline" action="/..." method="post">
        <button class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </button>
      </form>
  </div>

      <!-- if they havent signed in, ask if they want to save their info -->
      {% if user is empty %}
        <p> Want to save your preferences for next time? Create an account with us!</p>
          <form action="/create_user" method="post">
            <button name="button">Sign Up</button>
          </form>
      {% endif %}


      <p><a href="/">Home</a></p>
  </body>
</html>
