<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<title>Epifoodus: Choices</title>
</head>
<body>



<div class="container">
<div class="well well-sm" style="text-align:center">
  <div class="row">
    <div class="col-sm-9">
      <div class="col-md-6 col-md-offset-2">
        <h3 class="text-center"> Here's what's on the menu:</h3>
      </div>


      <div class="row">
        <div class="col-md-6">
          <a href="/choice/{{ restaurant1.getId }}">
            <h1>{{ restaurant1.getName }}</h1>
            <img src="{{ restaurant1.getImg }}" alt="{{ restaurant1.getImg }}" height="250px" width="250px"/>
          </a>

          <!-- <div class="col-md-3 col-md-offset-1">
            <button href="/keep2" type="button" class="btn-danger">X</button>
          </div> -->

        </div>

        <div class="col-md-6">
          <a href="/choice/{{ restaurant2.getId }}">
            <h1>{{ restaurant2.getName }}</h1>
            <img src="{{ restaurant2.getImg }}" alt="{{ restaurant2.getImg }}" height="250px" width="250px"/>
          </a>
        </div>

          <!-- <div class="col-md-3 col-md-offset-1">
            <button href="/keep1" type="button" class="btn-danger">X</button>
          </div> -->
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form action="/options" method="get">
                <button type="link" name="pass" class="btn-warning btn-lg btn-block">
                    Give me new options
                </button>
            </form>
        </div>
      </div>

    </div>
  </div>
</div>

     <footer id="footer" class="navbar navbar-fixed-bottom">
         <div class="well well-sm" style="text-align:center">

             <!-- if they havent signed in, ask if they want to save their info -->
             {% if user is empty %}
                    <p> Want to save your preferences for next time? Create an account with us!</p>

                    <form class="btn-group inline" action="/create_user" method="get">
                        <button class="btn btn-default btn-md">
                             <span class="glyphicon glyphicon-user"></span> Sign Up
                        </button>
                    </form>
             {% endif %}



             {% if user is not empty %}
                     <p>You are logged in as {{ user.getUsername }}</p>

             <!-- home -->
             <form class="btn-group inline" action="/" method="get">
                 <button class="btn btn-default btn-md">
                     <span class="glyphicon glyphicon-home"></span> Home
                 </button>
             </form>

             <!-- View Profile -->
             <form class="btn-group inline" action="/user" method="get">
                 <button class="btn btn-default btn-md">
                     <span class="glyphicon glyphicon-user"></span> View Profile
                 </button>
             </form>

             <!-- Sign out -->
             <form class="btn-group" action="/logout" method="post">
                 <button class="btn btn-default btn-md">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign Out
                 </button>
             </form>
             {% endif %}
         </div>
     </footer>
</div>
</body>
</html>
