<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: Choices</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h3 class="text-center"> Here's what's on the menu bub:</h3>


          <div class="row">
            <div class="col-md-6">
              <a href="/choice/{{ restaurant1.getId }}">
                <h1>{{ restaurant1.getName }}</h1>
                <p>{{ restaurant1.getImg }}</p>
              </a>

              <div class="col-md-3 col-md-offset-1">
                <button href="/keep2" type="button" name="button">X</button>
              </div>

            </div>

            <div class="col-md-6">
              <a href="/choice/{{ restaurant2.getId }}">
                <h1>{{ restaurant2.getName }}</h1>
                <p>{{ restaurant2.getImg }}</p>
              </a>
            </div>

              <div class="col-md-3 col-md-offset-1">
                <button href="/keep1" type="button" name="button">X</button>
              </div>
          </div>

          <br>
          <br>

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <button href="/options" type="submit" name="pass" class="btn-warning">Give me new options</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
