<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: I'm Hungry</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ restaurant.getName }}</h1>

      <ul>
        <li>{{ restaurant.getAddress }}</li>
        <li>{{ restaurant.getPhone }}</li>
        <li>{{ restaurant.getOpentime }}</li>
        <li>{{ restaurant.getClosetime }}</li>
        <li>{{ restaurant.getPrice }}</li>
        <li>{{ restaurant.getVegie }}</li>
      </ul>

      <p><a href='/restaurants/{{ restaurant.getId }}/edit'>Edit this Restaurant</a></p>
      <p><a href="/">Home</a></p>
    </div>

  </body>
</html>
