<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: I'm Hungry</title>
  </head>
  <body>
    <div class="container">
      <h2>Edit {{ restaurant.getName }}</h2>
        <li>Cuisine: {{ cuisine.getType }}</li>
        <li>Address: {{ restaurant.getAddress }}</li>
        <li>Phone: {{ restaurant.getPhone }}</li>
        <li>Open: {{ restaurant.getOpentime }}</li>
        <li>Close: {{ restaurant.getClosetime }}</li>
        <li>Price: {{ restaurant.getPrice }}</li>
        <li>Vegie: {{ restaurant.getVegie }}</li>
    </div>
    <br>
    <div class="container">
      <form action='/restaurants/{{ restaurant.getId }}' method='post'>
        <input name='_method' type='hidden' value='patch'>
        <p>
          <label for='name'>Edit Name:</label>
          <input value="{{ restaurant.getName }}" id='name' name='name' type='text'>
          <!-- <button type='submit'>Update</button> -->
        </p>

        <p>
          <label for='address'>Edit Address:</label>
          <input value="{{ restaurant.getAddress }}" id='address' name='address' type='text'>
          <!-- <button type='submit'>Update</button> -->
        </p>

        <p>
          <label for='phone'>Edit Phone:</label>
          <input value="{{ restaurant.getPhone }}" id='phone' name='phone' type='text'>
          <!-- <button type='submit'>Update</button> -->
        </p>

        <p>
          <label for='opentime'>Edit Open:</label>
          <input value="{{ restaurant.getOpentime }}" id='opentime' name='opentime' type='text'>
          <!-- <button type='submit'>Update</button> -->
        </p>

        <p>
          <label for='closetime'>Edit Close:</label>
          <input value="{{ restaurant.getClosetime }}" id='closetime' name='closetime' type='text'>
        </p>

        <p>
            <label for="cuisine">Cuisine:</label>
            <select id="cuisine" name="cuisine">
                {% for cuisine in cuisines %}
                    <option value={{ cuisine.getType }}>{{ cuisine.getType }}</option>
                {% endfor %}
            </select>
        </p>


        <button type='submit'>Update</button>

      </form>

      <form action='/restaurants/{{ restaurant.getId }}/confirm_delete' method='get'>
        <button type='submit'>Delete this Restaurant</button>
      </form>
    </div>
  </body>
</html>
